:root {
    #root{
        max-width: 1320px;
        margin: 0 auto;
    }
    --font-main: Resist Sans Display;
    --main-gradient: linear-gradient(90deg, #FF1B8D 0%, #43C7FF 100%);
    --blur-20:  blur(20px);
}

